PORT=3000
MONGO_URI="mongodb+srv://ahmedanis4546:your-password@cluster0.tvtr7.mongodb.net"
CORS_ORIGIN=*



JWT_SECRET_KEY=12345
PORTAL_EMAIL="ahmedanis4546@gmail.com"
PORTAL_PASSWORD=lamw ilca snmf upaz
CLIENT_URL="http://localhost:5173"